; vim: set fileencoding=utf-8 :
; Sushil Bhattacharjee <sushil.bhattacharjee@idiap.ch>
; Tue 10 Mar 16:07:52 CET 2015

[buildout]
parts = scripts
eggs = bob.db.msu_mfsd_mod
       bob.io.video
extensions = bob.buildout
             mr.developer
auto-checkout = *
develop = src/bob.extension
          src/bob.blitz
          src/bob.core
          src/bob.io.base
          src/bob.db.base
          src/bob.io.video
          .

; options for bob.buildout extension
debug = true
verbose = true
newest = false

[sources]
bob.extension = git https://gitlab.idiap.ch/bob/bob.extension
bob.blitz = git https://gitlab.idiap.ch/bob/bob.blitz
bob.core = git https://gitlab.idiap.ch/bob/bob.core
bob.io.base = git https://gitlab.idiap.ch/bob/bob.io.base
bob.db.base = git https://gitlab.idiap.ch/bob/bob.db.base
bob.io.video = git  https://gitlab.idiap.ch/bob/bob.io.video 

[scripts]
recipe = bob.buildout:scripts
dependent-scripts=true
